<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MathNet.Numerics" version="3.17.0" targetFramework="net45" />
  <package id="MathNet.Numerics.MKL.Win" version="2.2.0" targetFramework="net45" />
  <package id="SharpLearning.AdaBoost" version="0.26.9" targetFramework="net462" />
  <package id="SharpLearning.Common.Interfaces" version="0.26.9" targetFramework="net462" />
  <package id="SharpLearning.Containers" version="0.26.9" targetFramework="net462" />
  <package id="SharpLearning.CrossValidation" version="0.26.9" targetFramework="net462" />
  <package id="SharpLearning.DecisionTrees" version="0.26.9" targetFramework="net462" />
  <package id="SharpLearning.Ensemble" version="0.26.9" targetFramework="net462" />
  <package id="SharpLearning.FeatureTransformations" version="0.26.9" targetFramework="net462" />
  <package id="SharpLearning.GradientBoost" version="0.26.9" targetFramework="net462" />
  <package id="SharpLearning.InputOutput" version="0.26.9" targetFramework="net462" />
  <package id="SharpLearning.Metrics" version="0.26.9" targetFramework="net462" />
  <package id="SharpLearning.Neural" version="0.26.9" targetFramework="net462" />
  <package id="SharpLearning.Optimization" version="0.26.9" targetFramework="net462" />
  <package id="SharpLearning.RandomForest" version="0.26.9" targetFramework="net462" />
</packages>